@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');
 
html {
  scroll-behavior: smooth;
  
}
head link{
  border-radius: 100%;
}
body {
  
  margin: 0;
  font-size: 28px;
  font-family: 'Noto Sans JP', sans-serif;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.header {
  background-color: #f1f1f1;
  padding-top: 30px;
  
  background-image: url(img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border: 5px;
}


#navbar {
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  padding: 10px;
  text-transform: uppercase;
}


#navbar a {
  /* float: center; */
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-content: center;
  
  
}

#navbar #profile{
  font-weight: 1000;
}
#navbar img{
  height: 40px;
  border-radius: 100%;
  position: relative;
  top: 0px;
  
}
#navbar a:hover {
  font-weight: 700px;
  color: black;
  border-bottom: 1px solid #888e93;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.4s linear;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.4s linear;
  z-index: 100;
  opacity: .8;
  
}

.sticky + .content {
  padding: 60px;
}

.section{
  height: auto;
  width: 100%;
  /* text-align: center; */
  justify-content: center;
  display: grid;
  grid-template-rows: auto auto;
  
  
}

.sectionContent{
  width: 80%;
  align-self:center;
  
  margin: 0px auto;
}

.container{
  padding: 25px 100px;
  max-width: 1500px;
 
}

#aboutMe{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 600px auto;
  grid-gap: 0;
  border: 100px;
  color: black;
  
}
#aboutMe h3{
  position: relative;
  left: -200px;
  grid-area: 1/1/2/2;
  font-size: 4em;
  width: 500px;
  border-bottom: 5px solid #888e93;
  font-family: 'Recursive', sans-serif;
}
#aboutMe p{
  text-align: center;
  margin-left: -300px;
  grid-area: 2/1/3/2;
}
#aboutMe img{
  grid-area: 1/2/ span 3/4;
  height: 39em;
  position: absolute;
  top: 54px;
  right: 304px;
  box-shadow: black;

}
.socMeds{
  /* height: 40px; */
  padding-left: 330px;
  margin-top: -50px;
}
.socMeds i{
  padding: 0px 50px;
  color: #313131;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 175ms;
}

.socMeds .linkedin:hover{
  color: #0e76a8;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 175ms;
}
.socMeds .facebook:hover{
  color: #3b5998;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 175ms;
}
.socMeds .github:hover{
  color: black;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 175ms;
}

#aboutMe .text{
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  left: 100px;
  width: 500px;
  line-height: 30px;
  font-size: 18px;
}

.sectionTitle{
   border-bottom: 2px solid #888e93;
  font-family: 'Recursive', sans-serif;
  width: 500px;
  font-size: 3em;
  margin: 0px auto;
  
  
}
#education{
  padding-top: 1000px;
  background-color: white;
  padding-top: 45px;
 
  
}

.schoolContainer{
  grid-row: 2;
}
.school{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  align-content: center;
  grid-gap: 100px;
  

}
.school img{
  height: 13em;
  position: relative;
  left: 80px;
  bottom: 50px;
  padding-right: 30px;
  
}

.section .sectionTitle{
  grid-row: 1;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
}

#organizations{
  background-color: #f5f5f2;
}